In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import csv
%matplotlib inline

In [51]:
# TASK_2 Завантажте набір даних фільмів у pandas.
df=pd.read_csv("/home/alex/Downloads/PYTHON/movies.csv")
df.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [4]:
# TASK_3 Перелічіть усі стовпці набору даних і вивчіть їхні типи. Вивчіть статистику
# за різними областями. Опишіть, які дані в нас є.

df.columns

Index(['Film', 'Genre', 'Lead Studio', 'Audience score %', 'Profitability',
       'Rotten Tomatoes %', 'Worldwide Gross', 'Year'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               77 non-null     object
 1   Genre              77 non-null     object
 2   Lead Studio        77 non-null     object
 3   Audience score %   77 non-null     int64
 4   Profitability      77 non-null     float64
 5   Rotten Tomatoes %  77 non-null     int64
 6   Worldwide Gross    77 non-null     object
 7   Year               77 non-null     int64
dtypes: float64(1), int64(3), object(4)
memory usage: 4.9+ KB

In [6]:
df.index

RangeIndex(start=0, stop=77, step=1)

In [7]:
df.tail()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [9]:
df.describe()

       Audience score %  Profitability  Rotten Tomatoes %         Year
count         77.000000      77.000000          77.000000    77.000000
mean          63.727273       4.599483          46.701299  2009.077922
std           13.657113       8.031990          26.095001     1.354974
min           35.000000       0.000000           3.000000  2007.000000
25%           52.000000       1.751351          26.000000  2008.000000
50%           64.000000       2.642353          45.000000  2009.000000
75%           76.000000       5.103117          64.000000  2010.000000
max           89.000000      66.934000          96.000000  2011.000000

In [10]:
df.isnull().sum()

Film                 0
Genre                0
Lead Studio          0
Audience score %     0
Profitability        0
Rotten Tomatoes %    0
Worldwide Gross      0
Year                 0
dtype: int64

In [11]:
df.duplicated().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 0     False
1     False
2     False
3     False
4     False
      ...
72    False
73    False
74    False
75    False
76    False
Length: 77, dtype: bool>

In [12]:
df.shape

(77, 8)

In [19]:
# TASK_4 Скільки всього фільмів у наборі даних?
df['Film'].value_counts()

Film
Mamma Mia!                    2
Gnomeo and Juliet             2
Zack and Miri Make a Porno    1
Love & Other Drugs            1
Killers                       1
                             ..
She's Out of My League        1
Something Borrowed            1
Tangled                       1
The Back-up Plan              1
(500) Days of Summer          1
Name: count, Length: 75, dtype: int64

In [28]:
# TASK_5 Скільки фільмів міститься в наборі даних за кожен рік?
df.groupby('Year')['Film'].count()

Year
2007    11
2008    20
2009    12
2010    20
2011    14
Name: Film, dtype: int64

In [66]:
# TASK_6 Покажіть детальну інформацію про найменш і найбільш прибуткові фільми в наборі даних.
max_value = df['Worldwide Gross'].str.replace('$', '').astype(float).max()
print(max_value)
min_value = df['Worldwide Gross'].str.replace('$', '').astype(float).min()
print(min_value)

709.82
0.03

In [67]:
df[df['Worldwide Gross'].str.replace('$', '').astype(float)==709.82]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
14,The Twilight Saga: New Moon,Drama,Summit,78,14.1964,27,$709.82,2009

In [68]:
df[df['Worldwide Gross'].str.replace('$', '').astype(float)==0.03]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
8,Waiting For Forever,Romance,Independent,53,0.005,6,$0.03,2011

In [7]:
# TASK_7 Значення "Жанр" часом здається непослідовним; спробуйте знайти
# ці невідповідності та виправити їх.
df['Genre'].unique()

array(['Romance', 'Comedy', 'Drama', 'Animation', 'Fantasy', 'Romence',
       'Comdy', 'Action', 'romance', 'comedy'], dtype=object)

In [17]:
df1 = df['Genre'].str.replace('Comdy','Comedy')
df1 = df1.str.replace('comedy','Comedy') 
df1 = df1.str.replace('Romence', 'Romance')
df1 = df1.str.replace('romance', 'Romance')
df1.unique()

array(['Romance', 'Comedy', 'Drama', 'Animation', 'Fantasy', 'Action'],
      dtype=object)

In [81]:
# TASK 8 Збережіть (у новий файл CSV) 10 найкращих комедій за кількістю глядачів('Audience score'?);
# покажіть тільки назву фільму, рік і студію.

import csv

In [67]:
output = df[['Film', 'Year', 'Lead Studio', 'Audience score %']].sort_values('Audience score %', ascending=False).head(10)

output[['Film', 'Year', 'Lead Studio']].to_csv('output.csv', index=False, header=['Film', 'Year', 'Lead Studio'])

In [4]:
# TASK_9  Використовуйте pip для встановлення двох бібліотек: lxml, MySQL-connector-python.

! pip3 install lxml mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting lxml
  Downloading lxml-4.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (7.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.1/7.1 MB 6.6 MB/s eta 0:00:0000:0100:01
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp310-cp310-manylinux1_x86_64.whl (27.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.4/27.4 MB 6.7 MB/s eta 0:00:0000:0100:01m
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 8.4 MB/s eta 0:00:00a 0:00:01m
Installing collected packages: protobuf, lxml, mysql-connector-python
Successfully installed lxml-4.9.2 mysql-connector-python-8.0.33 protobuf-3.20.3